.container {
  width: 100%;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
}

.square {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: white;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
}

.Board {
  margin-right: 60px;
}

.sideNax {
}

.button {
  width: 200px;
  height: 32px;
  display: block;
  font-size: 24px;
  background-color: #fff;
}

.button:hover {
  background-color: #bfbfbf;
  cursor: pointer;
}
.button[data-active="true"] {
  background-color: yellow;
}
